<header class="flex justify-center items-center w-[1120px] py-3 mx-auto">
  <span></span>
  <nav class="flex flex-grow-0 gap-x-10">
    <ul class="flex space-x-4 text-white opacity-90 text-xl">
      <li><a href="/about" class="">Inicio</a></li>
      <li><a href="/projects" class="">Acerca de</a></li>
      <li><a href="/services" class="">Servicios</a></li>
      <li><a href="/contact" class="">Contacto</a></li>
    </ul>
  </nav>
</header>
