<a
  class="rounded-full border bg-white/10 border-white/10 justify-center flex items-center gapx-x-2 px-2 py-2 hover:scale-110 transition-transform"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  rel="noopener noreferrer"
>
  <slot />
</a>
